{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--three body cards start here-->
<div class="container">
    <main>
        <div class="row row-cols-1 row-cols-md-12 mb-12 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Date (day before yesterday)</h4>
                    </div>
                    <div class="card-body">
                        <p>It was not so good, so I tried.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Date (yesterday)</h4>
                    </div>
                    <div class="card-body">
                        <p>It was a bit better, so I tried harder.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Date (Today)</h4>
                    </div>
                    <div class="card-body">
                        <p>I'm feeling like I'm greatest in the world!!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!--three body cards end here-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>